.CodeMirror-gutter-elt {
	position: absolute;
	cursor: default;
	z-index: -1
}
.CodeMirror-linenumber.CodeMirror-gutter-elt {
	z-index: 1
}
.ico-cssColorPreview {
	border: 0;
	display: inline-block;
	height: 16px;
	width: 55px;
	margin-left: 0;
	vertical-align: middle;
	position: relative;
	z-index: -1;
	top: -2px
}